.circle-bypass {
  .notification {
    background:
      #565656 radial-gradient(ellipse at center, var(--clr-black, black) 30%, transparent);
    ;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: min-content;
    min-width: 80%;
    transform: translateY(-50%);
    padding: 0.3em;
  }

  .notification_success {
    color: var(--clr-success, green);
    animation: glow 1s ease-in-out forwards;
  }

  .notification_fail {
    color: var(--clr-danger, red);
    animation: glow 1s ease-in-out forwards;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 0 currentColor;
    }

    100% {
      box-shadow: 0 0 20px currentColor;
    }
  }
}