---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Collection of mini games">
	<main>
		<h1>Collection of mini games</h1>
		<p class="instructions">
			This is a collection of different mini-games, that can be encountered in
			computer games, such as lock-picking, fishing, hacking, etc. ported to
			web-technology, because it's fun.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="./circle-bypass"
				title="Circle bypass"
				body="Mass Effect 1 inspired circle bypass (used there in decryption/hacking)"
			/>
			<Card
				href="./fishing-clicker"
				title="Fishing clicker"
				body="Wartales-like clicker meter (used there in the fishing mini-game)"
			/>
			<Card
				href="./lock-picking"
				title="Easy lock-picking"
				body="Skyrim/wartales like lockpicking mini-game"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
