.circle-bypass {
  --clr-black: #000b00;
  --clr-bg: #0d1444;
  --clr-dark: #090e58;
  --clr-light: #0b315f;
  --clr-inactive: #052750;
  --clr-border: #445f83;
  --clr-success: #2ec16d;
  max-width: 400px;
  position: relative;

  .circle-bypass__overlay {
    all: unset;
    position: absolute;
    inset: 0;
  }
}