---
import Layout from "../../layouts/Layout.astro";
import { FishingClicker } from "./FishingClicker";
---

<Layout title="Mini-games / Fishing clicker">
	<main>
		<h1>Fishing clicker</h1>
		<p>Wartales-like clicker meter (used there in the fishing mini-game)</p>
		<FishingClicker client:load />
	</main>
</Layout>
